*{
	margin: 0;
	padding: 0;
}
main{
	width: 100%;
	
}
main .main__box {
	display: flex;
}
.left__box {
	width: 55%;
}
nav{
	margin-left: 65px;
	margin-top: 50px;
	text-align: left;
}
.top__nav a{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: black;
	font-weight: Bold;
	text-decoration: none;
	margin-right: 80px;
	cursor: pointer;
}
.top__nav img{
	width: 30px;
	height: 30px;
	float: right;
}
.towers__image {
	margin-top: 50px;
	margin-left: 70px;
}
.towers__image img{
	width: 550px;
	height: 600px;
}
.about__towers {
margin-left: 65px;
font-family: 'Prompt', sans-serif;
}
.note{
	margin: 100px 0 50px 0;
	font-size: 20px;
}
.about__towers h1{
	margin-bottom: 50px;
	font-size: 60px;
	font-weight: bolder;
}
.about__tower{
	width: 500px;
	margin-bottom: 50px;
}
.link__button{
	width: 200px;
	height: 60px;
	border: 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	border-radius: 5px;
}
.link__button a{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: white;
	}
	.list__buttons{
		display: flex;
	}
	.left__button img{
		width: 50px;
		height: 50px;
	}
	.right__button img{
		width: 50px;
		height: 50px;
	}








.link__button:hover{
	background: #d37000;
}
.link__button a:hover{
	color: #000;
}
.top__nav a:hover{
	border-bottom: 3px solid #505050;
}
.top__nav img:hover{
	border-bottom: 3px solid #505050;
}
